.jfx-text-field{
    -fx-text-inner-color: #c7ecee;
    -fx-prompt-text-fill: #c7ecee;
}

.jfx-combo-box{
    -fx-background-color: #c7ecee;
    -fx-prompt-text-fill: #c7ecee;
}

.jfx-password-field{
    -fx-text-inner-color: #c7ecee;
    -fx-prompt-text-fill: #c7ecee;
    -fx-text-fill: #c7ecee;
}

.table-view .table-row-cell {
    -fx-control-inner-background:  #b2bec3;
    -fx-control-inner-background-alt:  #dfe6e9;
}